<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="byMinute" datePattern="yyyyMMdd'T'HHmm"/>

    <property name="LOG_ROOT" value="${log.file.root:-./}" />

    <logger name="org" level="WARN"/>
    <logger name="io" level="WARN"/>
    <logger name="org.reflections" level="ERROR"/>
    <logger name="httpclient" level="WARN"/>
    <logger name="net" level="WARN"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--ISO date format-->
            <pattern>[%highlight(%level)] %d{HH:mm:ss} | %cyan(%thread) | %magenta(%logger{0}) - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="File" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>${LOG_ROOT}info.${byMinute}.log</file>-->
<!--        <append>false</append>-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>INFO</level>-->
<!--        </filter>-->
<!--        <encoder>-->
<!--            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} | %-16thread | %-25logger{0} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <appender name="File2" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>${LOG_ROOT}error.${byMinute}.log</file>-->
<!--        <append>false</append>-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>WARN</level>-->
<!--        </filter>-->
<!--        <encoder>-->
<!--            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} | %-16thread | %-25logger{0} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="File" />-->
<!--        <appender-ref ref="File2" />-->
    </root>

</configuration>
