<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="byMinute" datePattern="yyyyMMdd'T'HHmm"/>

    <property name="LOG_ROOT" value="${log.file.root:-./}" />

    <logger name="org" level="WARN"/>
    <logger name="io" level="WARN"/>
    <logger name="httpclient" level="WARN"/>
    <logger name="net" level="WARN"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--ISO date format-->
            <pattern>[%highlight(%level)] %d{HH:mm:ss} | %cyan(%thread) | %magenta(%logger{0}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
